html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.shopping_mart_navbar .nav-item{
  padding: 4px 36px;
}
.shopping_mart_navbar .active_menu_hover{
  /* padding: 4px 36px; */
  background: cadetblue;
  color: white;
}